<h1>My First Attribute Directive</h1>

<h4>Pick a highlight color</h4>
<div>
    <input type="radio" name="colors" (click)="color= ''">Empty
    <input type="radio" name="colors" (click)="color='lightgreen'">Green
    <input type="radio" name="colors" (click)="color='yellow'">Yellow
    <input type="radio" name="colors" (click)="color='cyan'">Cyan
</div>
<p my-highlight>Highlight me!</p>

<p [my-highlight]="color">Highlight me!(default:none)</p>

<p [my-highlight]="color" defaultColor="violet"> Highlight me too!(default:violet)</p>