<!--The whole content below can be removed with the new code.-->
<div>
    <h1>{{title}}</h1>
    <h2>My favorite hero is: {{myHero}}</h2>
    <p>Heros</p>
    <ul>
        <li *ngFor="let hero of heroes">{{hero}}</li>
    </ul>
    <p *ngIf="heroes.length === 0">There are no heroes!</p>
    <span [ngSwitch]="heroes.length">
        <p *ngSwitchCase="1">
          There are One hero!
        </p>
        <p *ngSwitchCase="2">
          There are two heroes!
        </p>
        <p *ngSwitchDefault>
          There are many heroes!
        </p>
    </span>
</div>